/*.las
x64
/.vs/kbPointCloud/v16/*.suo
/.vs/kbPointCloud/v16/*.db
/.vs/kbPointCloud/v16/ipch/AutoPCH/481ef7b8ecee48ca/*.ipch
/.vs/kbPointCloud/v16/ipch/AutoPCH/7a63dc378e77f139/*.ipch
/.vs/kbPointCloud/v16/ipch/AutoPCH/aa4c3eea53914483/*.ipch
